body {
    height: 100%;
    margin: 0;
}
#rectBar {
    height: 30px;
    background: cadetblue;
}

#control {
    background: grey;
    cursor: pointer;
}

.stroke-animation {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: stroke 3s ease-out;
}

@keyframes stroke {

    to {
        stroke-dashoffset: 0;
    }
}