body {
    height: 100%;
    margin: 0;
}

#rectBar {
    position: absolute;
    top: 47px;
}
#timeLine {
    position: absolute;
    top: 0;
}

#wheelWrapper {
    position: absolute;
    top: 0px;
}

#control {
    background: grey;
    cursor: pointer;
}


.stroke-animation {
    stroke-dasharray: 700;
    stroke-dashoffset: 700;
    animation: stroke 2s ease-out;
}

#timeLine svg{
    width: 100%;
}

@keyframes stroke {

    to {
        stroke-dashoffset: 0;
    }
}
#details {
    position: absolute;
    bottom: 0;
    left: 0;
}