<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todos</title>
    <link rel="stylesheet" href="../static/timeInput.css">
</head>
<body>

<main>

    <p id="details"></p>
    <svg id="timeLine"></svg>
    <svg id="rectBar"></svg>
    <svg id="wheelWrapper"></svg>

</main>

<script src="Constants.js"></script>
<script src="../observable/observable.js"></script>
<script src="../controller/timeInputController.js"></script>
<script src="DetailView.js"></script>
<script src="WheelView_v2.js"></script>
<script src="RectBarView.js"></script>
<script src="TimeLineView.js"></script>
<script src="../states/ControlStates.js"></script>

<script>
    const timeInputController = TimeInputController();
    WheelView_v2(timeInputController, document.getElementById('wheelWrapper'));
    DetailView(timeInputController, document.getElementById('details'));
    TimeLineView(timeInputController, document.getElementById('timeLine'));
    RectBarView(timeInputController, document.getElementById('rectBar'));
</script>


</body>

</html>
