<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todos</title>
    <link rel="stylesheet" href="../static/timeInput.css">
</head>
<body>

<main>
    <svg id="wheel"></svg>
    <p id="details"></p>
    <div id="rectBar"></div>
    <div id="timeLine"></div>
</main>


<script src="../observable/observable.js"></script>
<script src="../controller/timeInputController.js"></script>
<script src="DetailView.js"></script>
<script src="WheelView.js"></script>
<script src="RectBarView.js"></script>
<script src="TimeLineView.js"></script>
<script src="../states/ControlStates.js"></script>

<script>
    const timeInputController = TimeInputController();
    WheelView(timeInputController, document.getElementById('wheel'));
    DetailView(timeInputController, document.getElementById('details'));
    RectBarView(timeInputController, document.getElementById('rectBar'));
    TimeLineView(timeInputController, document.getElementById('timeLine'));
</script>


</body>

</html>
